.experiencias {
    border-bottom: dotted;
    border-color: rgb(6, 6, 93);
  }
  
  .experiencias h3 {
    text-transform: uppercase;
  }
  
  .experiencias ul {
    list-style-type: none;
    padding: 0;
    line-height: 2pt;
  }
  
  div.experiencias li {
    padding-bottom: 5px;
  }
  
  div.experiencias li h4{
    font-size: large;
    font-style: italic;
    color: rgb(6, 6, 93);
  }
  
  div.experiencias li h5{
    font-size: 16px;
    font-weight: bold;
    color: rgb(73, 71, 71);
  }
  
  div.experiencias li p {
    font-size: 16px;
    color: rgb(73, 71, 71);
  }
  