<div class="habilidades">
  <h3>Habilidades</h3>

  <div class="habilidades-section">
    <section class="hard-skills">
      <h4>JavaScript</h4>
      <div class="progress-bar" id="javascript"></div>
      <h4>HTML</h4>
      <div class="progress-bar" id="html"></div>
      <h4>CSS</h4>
      <div class="progress-bar" id="css"></div>
    </section>

    <section class="soft-skills">
      <h4>Organização</h4>
      <div class="progress-bar" id="organizacao"></div>
      <h4>Criatividade</h4>
      <div class="progress-bar" id="criatividade"></div>
      <h4>Trabalho em Equipe</h4>
      <div class="progress-bar" id="trabalhoemequipe"></div>
    </section>
  </div>
</div>
