.eventoCard {
    /* border: 5px solid orange;  */
    width: 100%;
    margin-bottom: 20px;
}

.eventoCard-content {
    /* border: 5px solid blueviolet;  */
    display: flex;
    flex-direction: row;
}

.eventoCard-informacoes {
    /* border: 5px solid blue;  */
    flex: 6;
    display: flex;
    flex-direction: column;
}

.eventoCard-informacoes-linhas {
    /* border: 5px solid orange; */
    display: flex;
    align-items: flex-start;
}

.eventoCard-informacoes-linhas-dado {
    font-weight: bold;
}

.eventoCard-botoes {
    /* border: 5px solid red; */
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

