<mat-card>
  <div class="wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Vendedor</mat-label>
      <input matInput type="text" [(ngModel)]="vendedor">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Endereço</mat-label>
      <input matInput type="text" [(ngModel)]="endereco">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Valor</mat-label>
      <input matInput type="number" [(ngModel)]="valor">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Imagem de exibição</mat-label>
      <input matInput type="url" [(ngModel)]="imagemUrl">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="salvar()" [disabled]="salvando">{{salvando ? "Salvando..." :
    "Salvar"}}</button>
</mat-card>
