.participantes-card {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.participantes-texto p {
    text-align: left;
}

.dados-titulo {
    font-weight: bold;
}

.btn-presenca {
    align-self: flex-end;
}