body {
	text-align: center;
	font-family: Comic Sans;
	font-style:italic;
	font-size: 1.3em;
}

h2{
    position: absolute;
	color:black;
	left: 690px;
}

input {
	background-color:white;
	font-size: 6vw;
	width: 10vw;
	height:10vw;
	margin: 0;
	color: white;
}

#jogador {
	display: inline;
}

#reiniciar {
	position: absolute;
	margin-top: 2%;
	width: 12vw;
	height:6vw;
	font-size: 1em;
	color: black;
    border-radius: 25px;
	font-family: Comic Sans;
	font-style:italic;
	left: 490px;
}